<!DOCTYPE html>
<html>

<head>
  <title>eShop</title>
  <link rel="stylesheet" href="./css/style.css">
</head>

<body>
  <div id="app">
    <header class="header">
      <input type="text" class="goods-search" v-model="searchLine">
      <button class="search-button" type="button" @click="filterGoods">Искать</button>
      <button class="cart-button" type="button" @click="cartItems = []">Очистить корзину</button>
    </header>
    <main>
      <div class="goods-list">
        <div class="goods-item" v-bind:id="good.id_product" v-for="good in filteredGoods" v-if="filteredGoods.length != 0">
          <h3 class="goods-item__title">{{ good.product_name }}</h3>
          <p class="goods-item__price">{{ good.price }}</p>
          <button type="button" class="buy-button" @click="addToCart">Купить</button>
        </div>
        <div class="goods-item" v-if="filteredGoods.length == 0">Нет данных</div>
      </div>
    </main>
    <section>
      <div class="cart" v-if="cartItems.length != 0">
        <div class="cart-list">
          <div class="cart-item" v-bind:id="item.id_product" v-bind:data-index="index" v-for="(item, index) in cartItems">
            <h3 class="cart-item__title">{{ item.product_name }}</h3>
            <p class="cart-item__price">{{ item.price }}</p>
            <button type="button" class="del-button" @click=delItem(index)>Удалить</button>
          </div>
        </div>
        <div class="cart-sum">Итого: {{total}}</div>
      </div>
    </section>
  </div>
  <script src="https://cdn.jsdelivr.net/npm/vue@2.5.17/dist/vue.js"></script>
  <script src="./js/index.js"></script>
</body>

</html>